<!-- Validation failure messages -->

<% if @list_of_exercise.errors.any? %>
  <% @list_of_exercise.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add List Of Exercise</h3>
      </div>
      <div class="panel-body">
        <form action="/create_list_of_exercise" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for exercise_category -->
          <div class="form-group">
            <label for="exercise_category" class="col-sm-2 control-label">
              Exercise category
            </label>
            <div class="col-sm-10">
              <input type="text" id="exercise_category" name="exercise_category" placeholder="Exercise category" class="form-control" value="<%= @list_of_exercise.exercise_category %>">
            </div>
          </div>

          <!-- Label and input for _of_sets -->
          <div class="form-group">
            <label for="_of_sets" class="col-sm-2 control-label">
            Sets
            </label>

             <div class="col-sm-10">

              <input type="text" id="_of_sets" name="_of_sets" placeholder="_of_Sets" class="form-control" value="<%= @list_of_exercise._of_sets %>">
            </div>
          </div>

          <!-- Label and input for user_id -->
          <div class="form-group">
            <label for="user_id" class="col-sm-2 control-label">
              User
            </label>
            <div class="col-sm-10">
              <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @list_of_exercise.user_id %>">
            </div>
          </div>

          <!-- Label and input for reps -->
          <div class="form-group">
            <label for="reps" class="col-sm-2 control-label">
              Reps
            </label>
            <div class="col-sm-10">
              <input type="text" id="reps" name="reps" placeholder="Reps" class="form-control" value="<%= @list_of_exercise.reps %>">
            </div>
          </div>

          <!-- Label and input for time_in_minutes -->
          <div class="form-group">
            <label for="time_in_minutes" class="col-sm-2 control-label">
              Time in minutes
            </label>
            <div class="col-sm-10">
              <input type="text" id="time_in_minutes" name="time_in_minutes" placeholder="Time in minutes" class="form-control" value="<%= @list_of_exercise.time_in_minutes %>">
            </div>
          </div>

          <!-- Label and input for day_of_week -->
          <div class="form-group">
            <label for="day_of_week" class="col-sm-2 control-label">
              Day of week
            </label>
            <div class="col-sm-10">
              <textarea id="day_of_week" name="day_of_week" placeholder="Day of week" class="form-control" rows="3"><%= @list_of_exercise.day_of_week %></textarea>
            </div>
          </div>

          <!-- Label and input for exercise_name -->
          <div class="form-group">
            <label for="exercise_name" class="col-sm-2 control-label">
              Exercise name
            </label>
            <div class="col-sm-10">
              <textarea id="exercise_name" name="exercise_name" placeholder="Exercise name" class="form-control" rows="3"><%= @list_of_exercise.exercise_name %></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-success">
                Create List Of Exercise
              </button>
              or
              <a href="/list_of_exercises">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
